<a href="https://colab.research.google.com/github/GiorgosNik/dev-salary-estimator/blob/main/salary_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [236]:
!pip install -U -q PyDrive
!pip install -U -q geocoder
!pip install -U -q tqdm
!pip install -U -q tensorflow

In [237]:
import tensorflow as tf
import pandas as pd
import numpy as np
from collections import Counter
from geopy.geocoders import Nominatim
from tqdm import tqdm
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

# CSV import from Google Drive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Import and Format Data

## Data Import from Google Drive
Authenticate with GoogleAuth to retrieve the data .csv from Google Drive.
The retrieved .csv file is stored in a pandas dataframe.

In [238]:
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# ID of Google Drive .csv document
id = "1cPsSR9XfyqOl15KqGV3BEqaxmL1R7lqq"
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Filename.csv')  
dataframe = pd.read_csv('Filename.csv')

In [239]:
dataframe.columns = ['timestamp', 'devtype', 'languages', 'years_experience','personal_projects', 'sex', 'remote','city_residence', 'city_work', 'company_size',  'supervisor', 'education', 'relevant', 'salary']

# Remove the timestamp as it is irelevant
dataframe = dataframe.drop(columns=['timestamp'])

print("The dataset contains {} salary entries".format( len(dataframe)))
dataframe.head(2)

The dataset contains 807 salary entries

,devtype,languages,years_experience,personal_projects,sex,remote,city_residence,city_work,company_size,supervisor,education,relevant,salary
0,"Backend, Frontend","JavaScript, PHP",13,Ναι,Άντρας,Και τα δύο,Αθήνα,Αθήνα,501+,Όχι,Bachelor's,Ναι,39361.0
1,"Backend, Frontend",JavaScript,7,Ναι,Άντρας,Απομακρυσμένα,Αθήνα,Αθήνα,201 - 500,Όχι,Bachelor's,Ναι,30142.0

## Remove entries that contain very rare developer types
Entries that occur under 5 times are considered rare.

In [240]:
UNK = 'unk'

def categorize_clean_columns(df, colname, threshold):
    df[colname] = df[colname].map(lambda x: x.replace(' ', '').split(','))
    c = Counter([item for sublist in df[colname].values for item in sublist])

    map_to_unk = set([el for el in c.elements() if c[el] <= threshold])

    def map_devtype_unk(arr):
      def x_or_unk(x):
        if x in map_to_unk:
          return UNK
        return x

      return [x_or_unk(x) for x in arr]

    df[colname] = df[colname].map(lambda x: map_devtype_unk(x))

    def is_sole_uknown(arr):
      return arr[0] == UNK and len(arr) == 1

    return df[df[colname].map(is_sole_uknown) == False]

In [241]:
dataframe = categorize_clean_columns(dataframe, 'devtype', 5)
dataframe = categorize_clean_columns(dataframe, 'languages', 5)

len(dataframe) # ~ 20 rows with few entries

738

In [242]:
def fix_salary(salary):
    salary = salary.replace('.', '')
    salary = salary.replace(',', '')
    salary = salary.replace('€', '')
    salary = int(salary)
    if salary < 4000:
      return salary * 14
    
    return salary

dataframe['salary'] = dataframe['salary'].map(lambda x: fix_salary(str(x))).astype('float32')
dataframe.head(2)

,devtype,languages,years_experience,personal_projects,sex,remote,city_residence,city_work,company_size,supervisor,education,relevant,salary
0,"[Backend, Frontend]","[JavaScript, PHP]",13,Ναι,Άντρας,Και τα δύο,Αθήνα,Αθήνα,501+,Όχι,Bachelor's,Ναι,393610.0
1,"[Backend, Frontend]",[JavaScript],7,Ναι,Άντρας,Απομακρυσμένα,Αθήνα,Αθήνα,201 - 500,Όχι,Bachelor's,Ναι,301420.0

In [243]:
cities_residence, cities_work = pd.unique(dataframe['city_residence'].values), pd.unique(dataframe['city_work'].values)

In [244]:
geolocator = Nominatim(user_agent="test")

# TODO: experiment with country
with tqdm(total=len(cities_residence), desc='Formatting City Names') as city_progressbar:
  for city in cities_residence:
    try:
      area = geolocator.geocode(city).address.split(",")[0]
      country = geolocator.geocode(city).address.split(",")[-1]
      print(country)
      dataframe['city_residence'] = dataframe['city_residence'].replace(city,area)

    except AttributeError:
      dataframe['city_residence'] = dataframe['city_residence'].replace(city,"UNK")
    city_progressbar.update(1)

dataframe = dataframe[dataframe.years_experience != "UNK"]
dataframe = dataframe[dataframe.city_residence == "Αθήνα"]
print("##### Unique Cities #####")
pd.unique(dataframe['city_residence'].values)

dataframe = dataframe.drop(columns=['city_residence', 'city_work'])
dataframe.head(2)

Formatting City Names:   1%|          | 1/83 [00:00<01:13,  1.12it/s]

 Ελλάς

Formatting City Names:   2%|▏         | 2/83 [00:01<01:15,  1.08it/s]

 Ελλάς

Formatting City Names:   4%|▎         | 3/83 [00:02<01:17,  1.04it/s]

 United Kingdom

Formatting City Names:   5%|▍         | 4/83 [00:03<01:17,  1.03it/s]

 Ελλάς

Formatting City Names:   6%|▌         | 5/83 [00:04<01:17,  1.01it/s]

 Ελλάς

Formatting City Names:   7%|▋         | 6/83 [00:05<01:16,  1.01it/s]

 Ελλάς

Formatting City Names:   8%|▊         | 7/83 [00:06<01:15,  1.01it/s]

 Ελλάς

Formatting City Names:  10%|▉         | 8/83 [00:07<01:15,  1.01s/it]

 Deutschland

Formatting City Names:  11%|█         | 9/83 [00:08<01:13,  1.01it/s]

 Ελλάς

Formatting City Names:  12%|█▏        | 10/83 [00:09<01:13,  1.00s/it]

 France

Formatting City Names:  13%|█▎        | 11/83 [00:10<01:11,  1.00it/s]

 Ελλάς

Formatting City Names:  14%|█▍        | 12/83 [00:11<01:11,  1.00s/it]

 Ελλάς

Formatting City Names:  16%|█▌        | 13/83 [00:12<01:09,  1.00it/s]

 Ελλάς

Formatting City Names:  17%|█▋        | 14/83 [00:13<01:08,  1.00it/s]

 Ελλάς

Formatting City Names:  18%|█▊        | 15/83 [00:14<01:07,  1.00it/s]

 Ελλάς

Formatting City Names:  19%|█▉        | 16/83 [00:15<01:07,  1.00s/it]

 Indonesia

Formatting City Names:  20%|██        | 17/83 [00:16<01:06,  1.00s/it]

 Slovensko

Formatting City Names:  22%|██▏       | 18/83 [00:17<01:05,  1.00s/it]

 Ελλάς

Formatting City Names:  23%|██▎       | 19/83 [00:18<01:03,  1.00it/s]

 Ελλάς

Formatting City Names:  24%|██▍       | 20/83 [00:19<01:02,  1.00it/s]

 Ελλάς

Formatting City Names:  25%|██▌       | 21/83 [00:20<01:02,  1.02s/it]

 Nederland

Formatting City Names:  27%|██▋       | 22/83 [00:21<01:00,  1.00it/s]

 Ελλάς

Formatting City Names:  28%|██▊       | 23/83 [00:22<01:00,  1.00s/it]

 Deutschland

Formatting City Names:  29%|██▉       | 24/83 [00:23<00:59,  1.00s/it]

 Ελλάς

Formatting City Names:  30%|███       | 25/83 [00:24<00:58,  1.00s/it]

 Ελλάς

Formatting City Names:  31%|███▏      | 26/83 [00:25<00:57,  1.01s/it]

 Österreich

Formatting City Names:  33%|███▎      | 27/83 [00:26<00:55,  1.00it/s]

Italia

Formatting City Names:  34%|███▎      | 28/83 [00:27<00:54,  1.01it/s]

 United Kingdom

Formatting City Names:  35%|███▍      | 29/83 [00:28<00:53,  1.00it/s]

 Κύπρος - Kıbrıs

Formatting City Names:  36%|███▌      | 30/83 [00:29<00:53,  1.01s/it]

 افغانستان

Formatting City Names:  37%|███▋      | 31/83 [00:30<00:51,  1.00it/s]

 Sverige

Formatting City Names:  39%|███▊      | 32/83 [00:31<00:50,  1.01it/s]

 Nederland

Formatting City Names:  40%|███▉      | 33/83 [00:32<00:50,  1.00s/it]

 Ελλάς

Formatting City Names:  41%|████      | 34/83 [00:33<00:48,  1.00it/s]

 United Kingdom

Formatting City Names:  42%|████▏     | 35/83 [00:34<00:48,  1.00s/it]

 Ελλάς

Formatting City Names:  43%|████▎     | 36/83 [00:35<00:46,  1.00it/s]

 Ελλάς

Formatting City Names:  45%|████▍     | 37/83 [00:36<00:45,  1.00it/s]

 Ελλάς

Formatting City Names:  46%|████▌     | 38/83 [00:37<00:44,  1.00it/s]

 Ελλάς

Formatting City Names:  47%|████▋     | 39/83 [00:38<00:43,  1.00it/s]

 Schweiz/Suisse/Svizzera/Svizra

Formatting City Names:  48%|████▊     | 40/83 [00:39<00:43,  1.00s/it]

 Ελλάς

Formatting City Names:  49%|████▉     | 41/83 [00:40<00:41,  1.01it/s]

 Κύπρος - Kıbrıs

Formatting City Names:  51%|█████     | 42/83 [00:41<00:41,  1.00s/it]

 Ελλάς

Formatting City Names:  52%|█████▏    | 43/83 [00:42<00:39,  1.00it/s]

 Česko

Formatting City Names:  53%|█████▎    | 44/83 [00:43<00:38,  1.00it/s]

 Danmark

Formatting City Names:  54%|█████▍    | 45/83 [00:44<00:37,  1.00it/s]

 Ελλάς

Formatting City Names:  55%|█████▌    | 46/83 [00:45<00:36,  1.00it/s]

 Ελλάς

Formatting City Names:  57%|█████▋    | 47/83 [00:46<00:35,  1.00it/s]

 Ελλάς

Formatting City Names:  58%|█████▊    | 48/83 [00:47<00:35,  1.01s/it]

 United Kingdom

Formatting City Names:  59%|█████▉    | 49/83 [00:48<00:33,  1.00it/s]

 Κύπρος - Kıbrıs

Formatting City Names:  60%|██████    | 50/83 [00:49<00:32,  1.00it/s]

 België / Belgique / Belgien

Formatting City Names:  61%|██████▏   | 51/83 [00:50<00:32,  1.00s/it]

 Ελλάς

Formatting City Names:  63%|██████▎   | 52/83 [00:51<00:31,  1.00s/it]

 Ελλάς

Formatting City Names:  64%|██████▍   | 53/83 [00:53<00:33,  1.13s/it]

 United Kingdom

Formatting City Names:  65%|██████▌   | 54/83 [00:54<00:33,  1.16s/it]

 Ελλάς

Formatting City Names:  66%|██████▋   | 55/83 [00:55<00:28,  1.00s/it]

 Ελλάς

Formatting City Names:  67%|██████▋   | 56/83 [00:56<00:27,  1.02s/it]

 Schweiz/Suisse/Svizzera/Svizra

Formatting City Names:  69%|██████▊   | 57/83 [00:57<00:25,  1.01it/s]

 Ελλάς

Formatting City Names:  70%|██████▉   | 58/83 [00:58<00:25,  1.01s/it]

 Ελλάς

Formatting City Names:  71%|███████   | 59/83 [00:59<00:23,  1.00it/s]

 Κύπρος - Kıbrıs

Formatting City Names:  72%|███████▏  | 60/83 [01:00<00:22,  1.00it/s]

 Ελλάς

Formatting City Names:  73%|███████▎  | 61/83 [01:01<00:21,  1.00it/s]

 Österreich

Formatting City Names:  75%|███████▍  | 62/83 [01:02<00:21,  1.01s/it]

 Ελλάς

Formatting City Names:  76%|███████▌  | 63/83 [01:03<00:19,  1.00it/s]

 Ελλάς

Formatting City Names:  77%|███████▋  | 64/83 [01:04<00:18,  1.02it/s]

 Κύπρος - Kıbrıs

Formatting City Names:  78%|███████▊  | 65/83 [01:05<00:17,  1.01it/s]

 Ελλάς

Formatting City Names:  80%|███████▉  | 66/83 [01:06<00:16,  1.01it/s]

 United Kingdom

Formatting City Names:  81%|████████  | 67/83 [01:07<00:16,  1.00s/it]

 Ελλάς

Formatting City Names:  84%|████████▍ | 70/83 [01:09<00:10,  1.19it/s]

 ایران

Formatting City Names:  86%|████████▌ | 71/83 [01:10<00:10,  1.15it/s]

 Italia

Formatting City Names:  87%|████████▋ | 72/83 [01:11<00:10,  1.09it/s]

 中国

Formatting City Names:  88%|████████▊ | 73/83 [01:12<00:09,  1.07it/s]

 Ελλάς

Formatting City Names:  89%|████████▉ | 74/83 [01:13<00:08,  1.05it/s]

 Ελλάς

Formatting City Names:  90%|█████████ | 75/83 [01:14<00:07,  1.03it/s]

Κύπρος - Kıbrıs

Formatting City Names:  92%|█████████▏| 76/83 [01:15<00:06,  1.03it/s]

 Sverige

Formatting City Names:  93%|█████████▎| 77/83 [01:16<00:05,  1.02it/s]

 United Kingdom

Formatting City Names:  94%|█████████▍| 78/83 [01:17<00:04,  1.01it/s]

 Ελλάς

Formatting City Names:  95%|█████████▌| 79/83 [01:18<00:03,  1.00it/s]

 Česko

Formatting City Names:  96%|█████████▋| 80/83 [01:19<00:03,  1.01s/it]

 Éire / Ireland

Formatting City Names:  98%|█████████▊| 81/83 [01:20<00:01,  1.01it/s]

 Ελλάς

Formatting City Names:  99%|█████████▉| 82/83 [01:21<00:01,  1.00s/it]

 Shqipëria

Formatting City Names: 100%|██████████| 83/83 [01:22<00:00,  1.01it/s]

 Ελλάς
##### Unique Cities #####

,devtype,languages,years_experience,personal_projects,sex,remote,company_size,supervisor,education,relevant,salary
0,"[Backend, Frontend]","[JavaScript, PHP]",13,Ναι,Άντρας,Και τα δύο,501+,Όχι,Bachelor's,Ναι,393610.0
1,"[Backend, Frontend]",[JavaScript],7,Ναι,Άντρας,Απομακρυσμένα,201 - 500,Όχι,Bachelor's,Ναι,301420.0

In [245]:
dataframe['relevant'] = dataframe['relevant'].fillna('Όχι')
# dataframe['city_work'] = dataframe['city_work'].fillna(dataframe['city_residence'])

In [246]:
category_columns = ['company_size', 'remote', 'supervisor', 'personal_projects', 'sex','education','relevant']

for col in category_columns:
    dataframe[f'{col}_xf'] = dataframe[col].astype('category')

dataframe = dataframe.drop(columns=category_columns)

In [247]:
multi_category_columns = ['devtype', 'languages']

def coltitle(col, word):
    return f'{col}_{word}'

for col in multi_category_columns:
    vocab = set([item for sublist in dataframe[col].values for item in sublist])
    for word in vocab:
        dataframe[coltitle(col, word)] = 0
        dataframe[coltitle(col, word)] = dataframe[coltitle(col, word)].astype('int32')
    print(vocab)

for index, row in dataframe.iterrows():
    for col in multi_category_columns:
        words = row[col]
        for word in words:
            dataframe.loc[index, coltitle(col, word)] = 1

bad_tf_scope_names = [('languages_C#', 'languages_Csharp'), ('languages_C++', 'languages_Cpp')]
for before, after in bad_tf_scope_names:
    dataframe[after] = dataframe[before]
    dataframe = dataframe.drop(columns=[before])

dataframe = dataframe.drop(columns=multi_category_columns)

{'unk', 'Desktopapps', 'Gaming', 'DevOps', 'BI', 'Frontend', 'Embedded', 'Mobileapps', 'Cybersecurity', 'AI/ML', 'Backend'}
{'unk', 'Java', 'Swift', 'Python', 'TypeScript', 'JavaScript', 'Kotlin', 'SQL', 'Typescript', 'PHP', 'Go', 'Bash', 'Ruby', 'C', 'C++', 'C#'}

In [248]:
train, val = train_test_split(dataframe, test_size=0.2)
print(len(train), 'train examples')
print(len(val), 'validation examples')

362 train examples
91 validation examples

In [249]:
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
    dataframe = dataframe.copy()
    labels = dataframe.pop('salary')
    ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
    if shuffle:
      ds = ds.shuffle(buffer_size=len(dataframe))
    ds = ds.batch(batch_size)
    return ds

train_ds = df_to_dataset(train, batch_size=32)
eval_ds = df_to_dataset(train, batch_size=32, shuffle=True)

In [250]:
for feature_batch, label_batch in train_ds.take(1):
  feature_column_keys = list(feature_batch.keys())
  print('Every feature:', feature_column_keys)

Every feature: ['years_experience', 'company_size_xf', 'remote_xf', 'supervisor_xf', 'personal_projects_xf', 'sex_xf', 'education_xf', 'relevant_xf', 'devtype_unk', 'devtype_Desktopapps', 'devtype_Gaming', 'devtype_DevOps', 'devtype_BI', 'devtype_Frontend', 'devtype_Embedded', 'devtype_Mobileapps', 'devtype_Cybersecurity', 'devtype_AI/ML', 'devtype_Backend', 'languages_unk', 'languages_Java', 'languages_Swift', 'languages_Python', 'languages_TypeScript', 'languages_JavaScript', 'languages_Kotlin', 'languages_SQL', 'languages_Typescript', 'languages_PHP', 'languages_Go', 'languages_Bash', 'languages_Ruby', 'languages_C', 'languages_Csharp', 'languages_Cpp']

In [251]:
feature_columns = []

numeric_features = [x for x in feature_column_keys if ('devtype_' in x or 'languages_' in x)]
categorical_features = [x for x in feature_column_keys if '_xf' in x]

for feature in numeric_features:
    feature_columns.append(feature_column.numeric_column(feature))

for feature in categorical_features:
    categorical_column = feature_column.categorical_column_with_vocabulary_list(
      feature, pd.unique(dataframe[feature].values))

    feature_columns.append(feature_column.indicator_column(categorical_column))

In [252]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(8, activation='relu'),  
  layers.Dense(1)
])

model.compile(optimizer=tf.keras.optimizers.SGD(momentum=0.9),
              loss='mae',
              metrics=['mae'])

callbacks = [
    tf.keras.callbacks.EarlyStopping(patience=2),
    tf.keras.callbacks.ModelCheckpoint(filepath='model.{epoch:02d}-{val_loss:.2f}.h5'),
    tf.keras.callbacks.TensorBoard(log_dir='./logs'),
]
print(train_ds)
model.fit(train_ds,
          validation_data=eval_ds,
          epochs=100,
          callbacks=callbacks)

<_BatchDataset element_spec=({'years_experience': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'company_size_xf': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'remote_xf': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'supervisor_xf': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'personal_projects_xf': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'sex_xf': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'education_xf': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'relevant_xf': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'devtype_unk': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_Desktopapps': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_Gaming': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_DevOps': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_BI': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_Frontend': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_Embedded': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_Mobileapps': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_Cybersecurity': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_AI/ML': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'devtype_Backend': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_unk': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Java': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Swift': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Python': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_TypeScript': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_JavaScript': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Kotlin': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_SQL': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Typescript': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_PHP': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Go': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Bash': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Ruby': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_C': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Csharp': TensorSpec(shape=(None,), dtype=tf.int32, name=None), 'languages_Cpp': TensorSpec(shape=(None,), dtype=tf.int32, name=None)}, TensorSpec(shape=(None,), dtype=tf.float32, name=None))>
Epoch 1/100

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs={'years_experience': <tf.Tensor 'IteratorGetNext:34' shape=(None,) dtype=int64>, 'company_size_xf': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'remote_xf': <tf.Tensor 'IteratorGetNext:31' shape=(None,) dtype=string>, 'supervisor_xf': <tf.Tensor 'IteratorGetNext:33' shape=(None,) dtype=string>, 'personal_projects_xf': <tf.Tensor 'IteratorGetNext:29' shape=(None,) dtype=string>, 'sex_xf': <tf.Tensor 'IteratorGetNext:32' shape=(None,) dtype=string>, 'education_xf': <tf.Tensor 'IteratorGetNext:12' shape=(None,) dtype=string>, 'relevant_xf': <tf.Tensor 'IteratorGetNext:30' shape=(None,) dtype=string>, 'devtype_unk': <tf.Tensor 'IteratorGetNext:11' shape=(None,) dtype=int32>, 'devtype_Desktopapps': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=int32>, 'devtype_Gaming': <tf.Tensor 'IteratorGetNext:9' shape=(None,) dtype=int32>, 'devtype_DevOps': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=int32>, 'devtype_BI': <tf.Tensor 'IteratorGetNext:2' shape=(None,) dtype=int32>, 'devtype_Frontend': <tf.Tensor 'IteratorGetNext:8' shape=(None,) dtype=int32>, 'devtype_Embedded': <tf.Tensor 'IteratorGetNext:7' shape=(None,) dtype=int32>, 'devtype_Mobileapps': <tf.Tensor 'IteratorGetNext:10' shape=(None,) dtype=int32>, 'devtype_Cybersecurity': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=int32>, 'devtype_AI/ML': <tf.Tensor 'IteratorGetNext:1' shape=(None,) dtype=int32>, 'devtype_Backend': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=int32>, 'languages_unk': <tf.Tensor 'IteratorGetNext:28' shape=(None,) dtype=int32>, 'languages_Java': <tf.Tensor 'IteratorGetNext:18' shape=(None,) dtype=int32>, 'languages_Swift': <tf.Tensor 'IteratorGetNext:25' shape=(None,) dtype=int32>, 'languages_Python': <tf.Tensor 'IteratorGetNext:22' shape=(None,) dtype=int32>, 'languages_TypeScript': <tf.Tensor 'IteratorGetNext:26' shape=(None,) dtype=int32>, 'languages_JavaScript': <tf.Tensor 'IteratorGetNext:19' shape=(None,) dtype=int32>, 'languages_Kotlin': <tf.Tensor 'IteratorGetNext:20' shape=(None,) dtype=int32>, 'languages_SQL': <tf.Tensor 'IteratorGetNext:24' shape=(None,) dtype=int32>, 'languages_Typescript': <tf.Tensor 'IteratorGetNext:27' shape=(None,) dtype=int32>, 'languages_PHP': <tf.Tensor 'IteratorGetNext:21' shape=(None,) dtype=int32>, 'languages_Go': <tf.Tensor 'IteratorGetNext:17' shape=(None,) dtype=int32>, 'languages_Bash': <tf.Tensor 'IteratorGetNext:13' shape=(None,) dtype=int32>, 'languages_Ruby': <tf.Tensor 'IteratorGetNext:23' shape=(None,) dtype=int32>, 'languages_C': <tf.Tensor 'IteratorGetNext:14' shape=(None,) dtype=int32>, 'languages_Csharp': <tf.Tensor 'IteratorGetNext:16' shape=(None,) dtype=int32>, 'languages_Cpp': <tf.Tensor 'IteratorGetNext:15' shape=(None,) dtype=int32>}. Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs={'years_experience': <tf.Tensor 'IteratorGetNext:34' shape=(None,) dtype=int64>, 'company_size_xf': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'remote_xf': <tf.Tensor 'IteratorGetNext:31' shape=(None,) dtype=string>, 'supervisor_xf': <tf.Tensor 'IteratorGetNext:33' shape=(None,) dtype=string>, 'personal_projects_xf': <tf.Tensor 'IteratorGetNext:29' shape=(None,) dtype=string>, 'sex_xf': <tf.Tensor 'IteratorGetNext:32' shape=(None,) dtype=string>, 'education_xf': <tf.Tensor 'IteratorGetNext:12' shape=(None,) dtype=string>, 'relevant_xf': <tf.Tensor 'IteratorGetNext:30' shape=(None,) dtype=string>, 'devtype_unk': <tf.Tensor 'IteratorGetNext:11' shape=(None,) dtype=int32>, 'devtype_Desktopapps': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=int32>, 'devtype_Gaming': <tf.Tensor 'IteratorGetNext:9' shape=(None,) dtype=int32>, 'devtype_DevOps': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=int32>, 'devtype_BI': <tf.Tensor 'IteratorGetNext:2' shape=(None,) dtype=int32>, 'devtype_Frontend': <tf.Tensor 'IteratorGetNext:8' shape=(None,) dtype=int32>, 'devtype_Embedded': <tf.Tensor 'IteratorGetNext:7' shape=(None,) dtype=int32>, 'devtype_Mobileapps': <tf.Tensor 'IteratorGetNext:10' shape=(None,) dtype=int32>, 'devtype_Cybersecurity': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=int32>, 'devtype_AI/ML': <tf.Tensor 'IteratorGetNext:1' shape=(None,) dtype=int32>, 'devtype_Backend': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=int32>, 'languages_unk': <tf.Tensor 'IteratorGetNext:28' shape=(None,) dtype=int32>, 'languages_Java': <tf.Tensor 'IteratorGetNext:18' shape=(None,) dtype=int32>, 'languages_Swift': <tf.Tensor 'IteratorGetNext:25' shape=(None,) dtype=int32>, 'languages_Python': <tf.Tensor 'IteratorGetNext:22' shape=(None,) dtype=int32>, 'languages_TypeScript': <tf.Tensor 'IteratorGetNext:26' shape=(None,) dtype=int32>, 'languages_JavaScript': <tf.Tensor 'IteratorGetNext:19' shape=(None,) dtype=int32>, 'languages_Kotlin': <tf.Tensor 'IteratorGetNext:20' shape=(None,) dtype=int32>, 'languages_SQL': <tf.Tensor 'IteratorGetNext:24' shape=(None,) dtype=int32>, 'languages_Typescript': <tf.Tensor 'IteratorGetNext:27' shape=(None,) dtype=int32>, 'languages_PHP': <tf.Tensor 'IteratorGetNext:21' shape=(None,) dtype=int32>, 'languages_Go': <tf.Tensor 'IteratorGetNext:17' shape=(None,) dtype=int32>, 'languages_Bash': <tf.Tensor 'IteratorGetNext:13' shape=(None,) dtype=int32>, 'languages_Ruby': <tf.Tensor 'IteratorGetNext:23' shape=(None,) dtype=int32>, 'languages_C': <tf.Tensor 'IteratorGetNext:14' shape=(None,) dtype=int32>, 'languages_Csharp': <tf.Tensor 'IteratorGetNext:16' shape=(None,) dtype=int32>, 'languages_Cpp': <tf.Tensor 'IteratorGetNext:15' shape=(None,) dtype=int32>}. Consider rewriting this model with the Functional API.

11/12 [==========================>...] - ETA: 0s - loss: 190414.7969 - mae: 190414.7969

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs={'years_experience': <tf.Tensor 'IteratorGetNext:34' shape=(None,) dtype=int64>, 'company_size_xf': <tf.Tensor 'IteratorGetNext:0' shape=(None,) dtype=string>, 'remote_xf': <tf.Tensor 'IteratorGetNext:31' shape=(None,) dtype=string>, 'supervisor_xf': <tf.Tensor 'IteratorGetNext:33' shape=(None,) dtype=string>, 'personal_projects_xf': <tf.Tensor 'IteratorGetNext:29' shape=(None,) dtype=string>, 'sex_xf': <tf.Tensor 'IteratorGetNext:32' shape=(None,) dtype=string>, 'education_xf': <tf.Tensor 'IteratorGetNext:12' shape=(None,) dtype=string>, 'relevant_xf': <tf.Tensor 'IteratorGetNext:30' shape=(None,) dtype=string>, 'devtype_unk': <tf.Tensor 'IteratorGetNext:11' shape=(None,) dtype=int32>, 'devtype_Desktopapps': <tf.Tensor 'IteratorGetNext:5' shape=(None,) dtype=int32>, 'devtype_Gaming': <tf.Tensor 'IteratorGetNext:9' shape=(None,) dtype=int32>, 'devtype_DevOps': <tf.Tensor 'IteratorGetNext:6' shape=(None,) dtype=int32>, 'devtype_BI': <tf.Tensor 'IteratorGetNext:2' shape=(None,) dtype=int32>, 'devtype_Frontend': <tf.Tensor 'IteratorGetNext:8' shape=(None,) dtype=int32>, 'devtype_Embedded': <tf.Tensor 'IteratorGetNext:7' shape=(None,) dtype=int32>, 'devtype_Mobileapps': <tf.Tensor 'IteratorGetNext:10' shape=(None,) dtype=int32>, 'devtype_Cybersecurity': <tf.Tensor 'IteratorGetNext:4' shape=(None,) dtype=int32>, 'devtype_AI/ML': <tf.Tensor 'IteratorGetNext:1' shape=(None,) dtype=int32>, 'devtype_Backend': <tf.Tensor 'IteratorGetNext:3' shape=(None,) dtype=int32>, 'languages_unk': <tf.Tensor 'IteratorGetNext:28' shape=(None,) dtype=int32>, 'languages_Java': <tf.Tensor 'IteratorGetNext:18' shape=(None,) dtype=int32>, 'languages_Swift': <tf.Tensor 'IteratorGetNext:25' shape=(None,) dtype=int32>, 'languages_Python': <tf.Tensor 'IteratorGetNext:22' shape=(None,) dtype=int32>, 'languages_TypeScript': <tf.Tensor 'IteratorGetNext:26' shape=(None,) dtype=int32>, 'languages_JavaScript': <tf.Tensor 'IteratorGetNext:19' shape=(None,) dtype=int32>, 'languages_Kotlin': <tf.Tensor 'IteratorGetNext:20' shape=(None,) dtype=int32>, 'languages_SQL': <tf.Tensor 'IteratorGetNext:24' shape=(None,) dtype=int32>, 'languages_Typescript': <tf.Tensor 'IteratorGetNext:27' shape=(None,) dtype=int32>, 'languages_PHP': <tf.Tensor 'IteratorGetNext:21' shape=(None,) dtype=int32>, 'languages_Go': <tf.Tensor 'IteratorGetNext:17' shape=(None,) dtype=int32>, 'languages_Bash': <tf.Tensor 'IteratorGetNext:13' shape=(None,) dtype=int32>, 'languages_Ruby': <tf.Tensor 'IteratorGetNext:23' shape=(None,) dtype=int32>, 'languages_C': <tf.Tensor 'IteratorGetNext:14' shape=(None,) dtype=int32>, 'languages_Csharp': <tf.Tensor 'IteratorGetNext:16' shape=(None,) dtype=int32>, 'languages_Cpp': <tf.Tensor 'IteratorGetNext:15' shape=(None,) dtype=int32>}. Consider rewriting this model with the Functional API.

12/12 [==============================] - 4s 147ms/step - loss: 189084.8594 - mae: 189084.8594 - val_loss: 189081.5312 - val_mae: 189081.5312
Epoch 2/100
12/12 [==============================] - 0s 25ms/step - loss: 189068.0000 - mae: 189068.0000 - val_loss: 189021.3750 - val_mae: 189021.3750
Epoch 3/100
12/12 [==============================] - 0s 22ms/step - loss: 188812.6562 - mae: 188812.6562 - val_loss: 188092.0156 - val_mae: 188092.0156
Epoch 4/100
12/12 [==============================] - 0s 14ms/step - loss: 185039.3125 - mae: 185039.3125 - val_loss: 175570.7188 - val_mae: 175570.7188
Epoch 5/100
12/12 [==============================] - 0s 11ms/step - loss: 150545.2656 - mae: 150545.2656 - val_loss: 91021.8828 - val_mae: 91021.8828
Epoch 6/100
12/12 [==============================] - 0s 11ms/step - loss: 109433.9453 - mae: 109433.9453 - val_loss: 90994.0469 - val_mae: 90994.0469
Epoch 7/100
12/12 [==============================] - 0s 11ms/step - loss: 98189.2188 - mae: 98189.2188 - val_loss: 86824.9141 - val_mae: 86824.9141
Epoch 8/100
12/12 [==============================] - 0s 11ms/step - loss: 87501.7656 - mae: 87501.7656 - val_loss: 86475.3750 - val_mae: 86475.3750
Epoch 9/100
12/12 [==============================] - 0s 11ms/step - loss: 86305.6328 - mae: 86305.6328 - val_loss: 84554.4141 - val_mae: 84554.4141
Epoch 10/100
12/12 [==============================] - 0s 8ms/step - loss: 84128.5312 - mae: 84128.5312 - val_loss: 83357.0938 - val_mae: 83357.0938
Epoch 11/100
12/12 [==============================] - 0s 11ms/step - loss: 83708.7969 - mae: 83708.7969 - val_loss: 83548.4297 - val_mae: 83548.4297
Epoch 12/100
12/12 [==============================] - 0s 11ms/step - loss: 84015.7109 - mae: 84015.7109 - val_loss: 82825.9844 - val_mae: 82825.9844
Epoch 13/100
12/12 [==============================] - 0s 9ms/step - loss: 82710.4219 - mae: 82710.4219 - val_loss: 81907.7422 - val_mae: 81907.7422
Epoch 14/100
12/12 [==============================] - 0s 11ms/step - loss: 82540.7266 - mae: 82540.7266 - val_loss: 82171.8750 - val_mae: 82171.8750
Epoch 15/100
12/12 [==============================] - 0s 11ms/step - loss: 83103.3125 - mae: 83103.3125 - val_loss: 81964.6484 - val_mae: 81964.6484

In [253]:
input = {
    'years_experience_xf': 1,
    'company_size_xf': '11-50',
    'remote_xf': 'Και τα δύο',
    'supervisor_xf': 'Ναι',
    'personal_projects_xf': 'Ναι',
    'sex_xf': 'Άντρας',
    'devtype_Backend': 1 ,              
    'devtype_Desktopapps': 0,         
    'devtype_DevOps': 1 ,            
    'devtype_AI/ML': 0 ,       
    'devtype_BI': 0 ,
    'devtype_Cybersecurity': 0,
    'devtype_Embedded': 0,
    'devtype_Gaming': 0,                      
    'devtype_unk': 0 , # any devtype work that is not included above?       
    'devtype_Frontend': 1 ,        
    'devtype_Mobileapps': 0 ,           
    'languages_C': 0 ,
    'languages_SQL': 1,              
    'languages_PHP': 0 ,             
    'languages_JavaScript': 1 ,         
    'languages_Kotlin' : 0 ,
    'languages_Typescript' : 0,
    'languages_TypeScript' : 0,              
    'languages_Python': 1 ,            
    'languages_Ruby': 0 ,               
    'languages_Bash': 1 ,             
    'languages_Go': 0 ,             
    'languages_Java': 0 ,            
    'languages_Swift': 0 ,            
    'languages_R': 0 ,
    'education_xf': "Bachelor's",
    'relevant_xf': "Ναι",
    'languages_Csharp': 0 ,         
    'languages_Cpp': 0 , 
    'languages_unk': 0 # any language that is not used above ?                
}

input = {k: [v] for k, v in input.items()}

prediction = model(input).numpy()[0][0]
f'Βγάζεις: {prediction} ευρώ το χρόνο'

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs={'years_experience_xf': [<tf.Tensor: shape=(), dtype=int32, numpy=1>], 'company_size_xf': ['11-50'], 'remote_xf': ['Και τα δύο'], 'supervisor_xf': ['Ναι'], 'personal_projects_xf': ['Ναι'], 'sex_xf': ['Άντρας'], 'devtype_Backend': [<tf.Tensor: shape=(), dtype=int32, numpy=1>], 'devtype_Desktopapps': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'devtype_DevOps': [<tf.Tensor: shape=(), dtype=int32, numpy=1>], 'devtype_AI/ML': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'devtype_BI': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'devtype_Cybersecurity': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'devtype_Embedded': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'devtype_Gaming': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'devtype_unk': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'devtype_Frontend': [<tf.Tensor: shape=(), dtype=int32, numpy=1>], 'devtype_Mobileapps': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_C': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_SQL': [<tf.Tensor: shape=(), dtype=int32, numpy=1>], 'languages_PHP': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_JavaScript': [<tf.Tensor: shape=(), dtype=int32, numpy=1>], 'languages_Kotlin': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_Typescript': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_TypeScript': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_Python': [<tf.Tensor: shape=(), dtype=int32, numpy=1>], 'languages_Ruby': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_Bash': [<tf.Tensor: shape=(), dtype=int32, numpy=1>], 'languages_Go': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_Java': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_Swift': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_R': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'education_xf': ["Bachelor's"], 'relevant_xf': ['Ναι'], 'languages_Csharp': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_Cpp': [<tf.Tensor: shape=(), dtype=int32, numpy=0>], 'languages_unk': [<tf.Tensor: shape=(), dtype=int32, numpy=0>]}. Consider rewriting this model with the Functional API.

'Βγάζεις: 244957.609375 ευρώ το χρόνο'