<a href="https://colab.research.google.com/github/GiorgosNik/dev-salary-estimator/blob/main/salary_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [5]:
import tensorflow as tf
import pandas as pd
import numpy as np

# Import and Format Data

In [4]:
csv_url = 'https://gist.githubusercontent.com/ntakouris/a921107d4c2cc1566186c91971e2a664/raw/212e3bffd59d32a1f71df3585cb48fbeee734616/salary_report.csv'
file_path = tf.keras.utils.get_file("salary_report", csv_url)

In [8]:
dataframe = pd.read_csv(file_path)
dataframe.columns = ['timestamp', 'years_experience', 'devtype', 'languages', 'company_size', 'remote', 'supervisor', 'personal_projects', 'city_residence', 'city_work', 'sex', 'salary']

# Remove the timestamp
dataframe = dataframe.drop(columns=['timestamp'])


print("The dataset contains {} salary entries".format( len(dataframe)))
dataframe.head(2)

The dataset contains 573 salary entries

,years_experience,devtype,languages,company_size,remote,supervisor,personal_projects,city_residence,city_work,sex,salary
0,4-5,"DevOps, Backend, Frontend","C#, JavaScript",11-50,Και τα δύο,Όχι,Ναι,Αθήνα,Αθήνα,Άντρας,18200
1,1-3,"Backend, Frontend","C#, JavaScript",11-50,Στον χώρο του εργοδότη,Όχι,Όχι,Δράμα,Καβάλα,Άντρας,13100